<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>实验室打卡系统</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/responsive.css" rel="stylesheet" />
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/custom.js"></script>
    </head>

    <body class="sub_page">
            
        <div class="hero_area">
            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/Home">
                            <span>实验室打卡系统</span>
                        </a>
                    </nav>
                </div>
            </header>
        </div>

        {%if create == 0%}
        <section class="catagory_section layout_padding3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-12 ">
                        <div class="box1 ">
                            <form method="post">
                                <table class="table table-hover" style="text-align:center;">
                                    <thead>
                                        <tr class="newtable">
                                            <th style="font-size:20px;">请选择设备：</th>
                                            <th></th>
                                            <th></th>
                                            <th>
                                                <div class="btn-box1">
                                                    <a href="/newDev">新建</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">设备ID</th>
                                            <th scope="col">设备名称</th>
                                            <th scope="col">设备类型</th>
                                            <th scope="col">启用</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(devs|length)%}
                                        <tr>
                                            <td class="col-3" scope="col">{{devs[i][0]}}</td>
                                            <td class="col-3" scope="col">{{devs[i][1]}}</td>
                                            <td class="col-3" scope="col">{{devs[i][2]}}</td>
                                            <td class="col-3" scope="col">
                                                <div class="btn-box1">
                                                    <!--之后把i+1换成设备的ID-->
                                                    <a value={{i+1}} onclick="startDevChoose(this)">启用</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </form>
                        </div>             
                    </div>
                </div>
            </div> 
        </section>
        {%else%}
        <section class="contact_section layout_padding">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-6 col-md-12 ">
                        <h4 id="idx">请填写设备信息：</h4>
                        <br>           
                    </div>
                </div>
                <div clas="row">
                    <div class="col-12">
                        <div id="newDev0" name="newDev">
                            <input type="text" id="newDev" name="newDev" placeholder="请输入设备名称">
                        </div>
                    </div>
                    <div class="col-12">
                        <div id="type" name="type">
                            <select id="type-select" class="form-control" name="type">
                                <option value=0>请选择设备类型</option>
                                <option value=1>签到和签退</option>
                                <option value=2>仅签到</option>
                                <option value=3>仅签退</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 offset-4">
                        <div class="btn-box">
                            <button onclick="startDevNew()">确认</button>
                            &emsp;&emsp;
                            <button onclick="turnBackInit()">返回</button>
                        </div>
                    </div>
                    <br>
                    <br>    
                    <div id="detailed-info" style="text-align:center;"></div>
                </div>
            </div>
        </section>
        {%endif%}

        <script>infoCard();</script>

    </body>

</html>