<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>实验室打卡系统</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
        <link href="static/css/font-awesome.min.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
        <link href="static/css/responsive.css" rel="stylesheet" />
    </head>

    <body>
        <section class="contact_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <video id="video" autoplay="autoplay"></video>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <canvas id="canvas" width="50%" height="50%"></canvas>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button value="开启摄像头" onclick="getMedia()">开启摄像头</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="close" onclick="closeMedia()">关闭摄像头</button>   
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="return" onclick="turnBack()">返回</button>      
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="upload" onclick="uploadImage()">拍照上传</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </section>

        <section class="contact_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="heading_container ">
                            <h2 class="">请输入个人信息：</h2>
                        </div>
                        <div id="name0" name="name">
                            <input id="name" name="name" value="{{name}}" type="text" placeholder="姓名" />
                        </div>
                        <div id="email0" name="email">
                            <input id="email" name="email" value="{{email}}" type="email" placeholder="邮箱" />
                        </div>
                        <div class="btn-box">
                            <a onclick="sendBack()">
                                <button>发送</button>
                            </a>
                        </div>
                        <div>
                            <br>
                            <h3 id="waitA"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function closeMedia() {
                var video = document.getElementById('video');
                if (!video.srcObject) return
                let stream = video.srcObject
                let tracks = stream.getTracks();
                tracks.forEach(track => {
                    track.stop()
                })
        }   
        
        let video = document.getElementById("video");
        function getMedia() {
            let constraints = {
                video: {width: 400, height: 400},
                audio: false
            };
            let promise = navigator.mediaDevices.getUserMedia(constraints);
            promise.then(function (MediaStream) {
                video.srcObject = MediaStream;
                video.play();
            }).catch(function (PermissionDeniedError) {
                console.log(PermissionDeniedError);
            })
        }
        

        
        function takePhoto() {
            let canvas = document.getElementById("canvas");
            let ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, 400, 400);
        }
        
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        function uploadImage(){
            canvas.width = 400;
            canvas.height = 400;
            context.drawImage(video, 0, 0, 400, 400);
            var imgData = canvas.toDataURL("image/jpg");
            imgData = imgData.replace(/^data:image\/(png|jpg);base64,/,"")
            var uploadAjax = $.ajax({
                type: "post",
                url:"/receiveImage",
                data: JSON.stringify({"imgData": imgData}),
                contentType:"json/application",
                timeout:10000,
                async: true,
                complete: function (XMLHttpRequest, textStatus) {
                    if(textStatus == 'timeout'){
                        uploadAjax.abort(); 
                        alert("请求超时，请重试")
                        closeCard();
                    }
                }
            });
        }
        
        function turnBack() {
            window.location.href = "/";
        }
        
        function sendBack(){
            var name = document.getElementById("name").value
            var email = document.getElementById("email").value
            console.log(name)
            console.log(email)
            var uploadAjax = $.ajax({
                url:'/sendInfo',
                type: 'get',
                dataType: "text",
                data: JSON.stringify({"name": name, "email": email}),
                contentType:'json/application',
                timeout:15000,
                async: true,
                beforeSend: function () {
                    $("#waitA").html("正在发送，请稍后...");
                },
                success: function (msg) {
                    alert(msg)
                    window.location.href = "/adminPage";
                },
                error: function(msg) {
                    alert(msg)
                    $("#waitA").html("");
                },
                complete: function (XMLHttpRequest, textStatus) {
                    if(textStatus == 'timeout'){
                        uploadAjax.abort(); 
                        alert("请求超时，请重试")
                    }
                }
            });
        }
        </script>
        <script src='static/js/camera.js'></script>
        <script src='static/js/jquery-1.7.1.min.js'></script>
        <script src="static/js/custom.js"></script>
    </body>
</html>