<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>实验室打卡系统</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
        <link href="static/css/font-awesome.min.css" rel="stylesheet" />
        <link href="static/css/style.css" rel="stylesheet" />
        <link href="static/css/responsive.css" rel="stylesheet" />
    </head>

    <body class="sub_page">

        <header class="header_section">
            <div class="container-fluid">
              <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/Home">
                  <span>实验室打卡系统</span>
                </a>
              </nav>
            </div>
        </header>

        <section class="contact_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <video id="video" autoplay="autoplay"></video>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <canvas id="canvas" width="50%" height="50%"></canvas>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button value="开启摄像头" onclick="getMedia()">开启摄像头</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="close" onclick="closeMedia()">关闭摄像头</button>   
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="return" onclick="turnBack()">返回</button>      
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="btn-box">
                            <button id="upload" onclick="uploadImage()">拍照上传</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </section>

        <section class="contact_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="heading_container ">
                            <h2 class="">请输入个人信息：</h2>
                        </div>
                        <div id="name0" name="name">
                            <input id="name" name="name" value="{{name}}" type="text" placeholder="姓名" />
                        </div>
                        <div id="stuid0" name="stuid">
                            <input id="stuid" name="stuid" value="{{email}}" type="text" placeholder="学号" />
                        </div>
                        <div class="btn-box">
                            <a onclick="sendBack()">
                                <button>发送</button>
                            </a>
                        </div>
                        <div>
                            <br>
                            <h3 id="waitA"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            
        </script>
        <script src='static/js/camera.js'></script>
        <script src='static/js/jquery-1.7.1.min.js'></script>
        <script src="static/js/custom.js"></script>
    </body>
</html>


