<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>实验室打卡系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/responsive.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    

  </head>

  <body class="sub_page">
    <div class="hero_area">
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>实验室打卡系统</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                {%if state == 0 %}
                <li class="nav-item">
                  <a class="nav-link" href="/login"> 管理员登录 </a>
                </li>
                {% elif state == 1%}
                <li class="nav-item">
                  <a class="nav-link" href="/adminPage"> 管理员后台 </a>
                </li>
                {%endif%}
              </ul>
            </div>
          </nav>
        </div>
      </header>
    </div>

    <section class="catagory_section layout_padding">
      <div class="catagory_container">
        <div class="container ">
          <div class="row">
            <video class = "m-auto" id="video-preview" autoplay></video>
          </div>
          <br>
        {%if rcgState == 1%}
          <div class="row">
            <h2 class="m-auto">{{rcgName}}签到成功</h2>
          </div>
        {%elif rcgState == 2%}
          <div class="row">
            <h2 class="m-auto">{{rcgName}}请勿重复签到</h2>
          </div>
        {%endif%}
        </div>
      </div>
    </section>
    <script src="/static/js/camera.js"></script>
    <script>
      function subscribe() {
        alert("Subscribe Success!");
      }
    </script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/custom.js"></script>

  </body>
</html>