<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="static/images/favicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Camera Preview</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link href="static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="static/css/style.css" rel="stylesheet" />
    <link href="static/css/responsive.css" rel="stylesheet" />
  
  </head>
  <body>
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span style="text-align:center">
              Camera Preview
            </span>
          </a>
        </nav>
      </div>
    </header>
    <section class="catagory_section layout_padding">
      <div class="row">
        <!--a标签的样式已经被改成跟button差不多的玩意儿了-->
        <video class = "m-auto" id="video-preview" autoplay></video>
      </div>
    </section>
    <script src='static/js/camera.js'></script>
  </body>
</html>
