<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>实验室打卡系统</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <link href="/static/css/responsive.css" rel="stylesheet" />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    

  </head>

  <body class="sub_page">
    <div class="hero_area">
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>实验室打卡系统</span>
            </a>
          </nav>
        </div>
      </header>
    </div>

    <section class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-3 ">
              <div class="heading_container ">
                <h2 class="">请输入姓名：</h2>
                <h2 class="">{{ip}}</h2>
                <h2 class="">{{loginState}}</h2>
                <h2 class="">{{password}}</h2>
                <h2 class="">{{retry}}</h2>
                <h2 class="">{{msg}}</h2>
              </div>
            </div>
            <div class="col-md-6 ">
                <div id="delName0" name="delName0">
                  <input id="delName" name="delName" value="{{delName}}" type="text" placeholder="姓名" />
                  <div class="btn-box">
                    <button onclick="check()">查看</button>
                    <button onclick="check2()">查看2</button>
                    <button onclick="check3()">查看3</button>
                  </div>
                </div>
                <div>
                  <br><br>
                  <h3 id="waitDel" class="m-auto"></h3>
                </div>
            </div>
            <div class="col-md-2">
              
            </div>
            <div class="col-md-2">
              <div class="btn-box">
                
              </div>
          </div>
        </div>
      </section>

    <section class="catagory_section layout_padding">
      <div class="catagory_container">
        <div class="container ">
          <br>
          <div class="row">
            <h2 class="m-auto" id="rcg"></h2>
          </div>
        </div>
      </div>
    </section>


    <script>
        function check() {
          var nData = document.getElementById('delName').value;
          console.log(nData);
          var uploadAjax = $.ajax({
            url:"/check",
            type: "get",
            dataType: "text",
            data: JSON.stringify({"delName": nData}),
            contentType:"json/application",
            timeout:1500000,
            async: true,
            success: function (msg) {
                $("#rcg").html(msg);
            },
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout'){
                    uploadAjax.abort(); 
                    alert("请求超时，请重试")
                }
            }
        });
        }
      </script>

      <script>
        function check2() {
          var nData = document.getElementById('delName').value;
          console.log(nData);
          var uploadAjax = $.ajax({
            url:"/check2",
            type: "get",
            dataType: "text",
            data: JSON.stringify({"delName": nData}),
            contentType:"json/application",
            timeout:1500000,
            async: true,
            success: function (msg) {
                $("#rcg").html(msg);
            },
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout'){
                    uploadAjax.abort(); 
                    alert("请求超时，请重试")
                }
            }
        });
        }
      </script>

      <script>
        function check3() {
          var nData = document.getElementById('delName').value;
          console.log(nData);
          var uploadAjax = $.ajax({
            url:"/check3",
            type: "get",
            dataType: "text",
            data: JSON.stringify({"delName": nData}),
            contentType:"json/application",
            timeout:1500000,
            async: true,
            success: function (msg) {
                $("#rcg").html(msg);
            },
            complete: function (XMLHttpRequest, textStatus) {
                if(textStatus == 'timeout'){
                    uploadAjax.abort(); 
                    alert("请求超时，请重试")
                }
            }
        });
        }
      </script>

      
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    

  </body>
</html>